.card-container {
  display: flex;
  flex-direction: column;
  background-color: #95dada;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card-container:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 3px rgb(218, 218, 193);
}

h2{
  font-size: 25px;
}

p {
  position:absolute;                  
  bottom:0;
  text-align: center;
  width: 80%;
}